<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}QRCode-RS{% endblock %}</title>
    <link rel="preconnect" href="https://cdn.bootcdn.net" crossorigin>
    <link href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css" rel="stylesheet">
    <link rel="icon" href="{{ base }}/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ base }}/static/style.css">
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="{% block layout_class %}page-center{% endblock %}">
        {% block topbar %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
